Deemphasize the status reason on Status

The reason-phase of a HTTP response is falling out of style and should be considered more of a guideline than a rule. [RFC 7230 section 3.1.2](https://tools.ietf.org/html/rfc7230#section-3.1.2) suggests that the reason-phrase should be ignored by the clients. The current [http 2.0 draft](http://http2.github.io/http2-spec/#rfc.section.8.1.2.4) doesn't even have the concept of a reason-phrase.

Because of these considerations, I think we should remove the [`fromIntAndReason`](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/Status.scala#L55) method from the `Status` object and move the reason field to the second constructor parameter list. This will make equality checks safer.
