Restrict the MethodNotAllowed constructor. 

#### The Problem

The `http4s` DSL allows us to write an `HttpService` that, for a certain path, only accepts certain methods and replies with the status code `MethodNotAllowed` to others. For example: 
```Scala
val route = HttpService {
  case  GET -> /ping  => Ok("pong")
  case  _      -> /ping   => MethodNotAllowed()
}
```
The `MethodNotAllowed()` response would generate a response with that status code, but without any headers. However, [Section 10.4.6 of RFC 2616](https://tools.ietf.org/html/rfc2616#section-10.4.6), concerning the status `405 MethodNotAllowed`, indicates that: 

> The response MUST include an `Allow` header containing a list of valid methods for the requested   resource.

Therefore, the response in the second case is not compliant with the RFC. We can write an RFC-compliant HttpService by using the header: 
```Scala
import org.http4s.headers.Allow
val route = HttpService {
  case  GET -> /ping  => Ok("pong")
  case  _      -> /ping   => MethodNotAllowed( Allow(GET) )
}
```
However, the first code snippet gives a non-compliant route. There already are cases in the DSL, in which a response with a certain status is not allowed unless the required data is provided. For example, the `Unauthorized()` requires the `WWW-Authenticate` header.  

#### The solution

Modify the `http4s` DSL, to disallow creating a `MethodNotAllowed` response unless an `Allow` header with a non-empty list of parameters is provided.