multiipart file upload doesn't support unicode file names

Hi! 

I have an issue with uploading files via a multipart request, where the filename doesn't contain ascii characters. The original issue got reported by a user who uses Russian language. It seems that when using the `Multipart` decoder, the parts filenames that are extracted from the `Content-Disposition` header are gone as soon as cyrillic letters appear.

Here is an example that can be run with ammonite:
``` scala
#!/usr/bin/env amm

import $ivy.`org.http4s::http4s-dsl:1.0.0-M24`
import $ivy.`org.http4s::http4s-blaze-server:1.0.0-M24`
import $ivy.`ch.qos.logback:logback-classic:1.2.3`

import scala.concurrent.ExecutionContext
import cats.effect._
import fs2.Stream
import org.http4s._
import org.http4s.dsl.Http4sDsl
import org.http4s.multipart.Multipart
import org.http4s.server.Router
import org.http4s.blaze.server.BlazeServerBuilder
import org.http4s.implicits._

object TestApp extends IOApp.Simple {
  def multipartUpload(): HttpRoutes[IO] = {
    val dsl = new Http4sDsl[IO] {}
    import dsl._

    HttpRoutes.of {
      case req @ POST -> Root =>
        for {
          mp <- req.as[Multipart[IO]]
          fnames = mp.parts.map(p => p.filename).mkString("; ")
          resp <- Ok(s"Uploaded ${mp.parts.size} files: $fnames")
        } yield resp
    }
  }

  def app =
    Router("upload" -> multipartUpload()).orNotFound

  def server =
    BlazeServerBuilder[IO](ExecutionContext.global)
      .bindHttp(8888, "0.0.0.0")
      .withHttpApp(app)
      .serve

  val run =
    server.compile.drain
}

@main
def main(): Unit =
  TestApp.main(Array.empty)
```

When this is started, I tested with `curl`:
``` shell
❯ curl  -F file=@./test-files/letter-de.pdf -F file=@./test-files/letter-Пад.pdf -F file=@./test-files/Константинополя.pdf h
ttp://localhost:8888/upload
Uploaded 3 files: Some(letter-de.pdf); None; None
```
This should print the file names of all files, but only the first file works, the other two files that contain cyrillic letters are not printed. I also tested this with 0.23.1 with the same result.

I found #4914 as a related issue. I'm not sure if this fix may have not affected multipart related code or whether I overlooked something in my code. 

It may also be interesting, that German umlauts, like üöä are working.

Ой!  This is a tricky one.  HTTP headers weren't specified with UTF-8 in mind, and only encodings to ASCII are reliable.  A standard way to send these is to use a `filename*` attribute percent-encoding of UTF-8 bytes so the encoded value is ASCII.   Curl is sending raw UTF-8 bytes, which aren't interpreted as such in parsing, and cause the header to be rejected.

I'd be interested in links to what some other clients do, to see if Curl is weird, or to see if RFCs have just not caught up to modern practice.

Thank you for the very quick reply! Oh indeed, I never checked  what curl sends exactly, I was assuming that when umlauts are working so should everything else … 🥴 I quickly extended the example and tested with a simple html form; firefox sends these headers with the file part:
```
Content-Disposition: form-data; name="file"; filename="&#1050;&#1086;&#1085;&#1089;&#1090;&#1072;&#1085;&#1090;&#1080;&#1085;&#1086;&#1087;&#1086;&#1083;&#1103;.pdf"
Content-Type: application/pdf
```
And this is exactly returned from the parts `filename` method. I have the same result with chromium. I'm going to try a `filename*` attribute later.

Does http4s return a string that is decoded as ascii for the parts filename - so I would need to do something to decode it into the "real" string for cyrillic letters?

I just found [this part of rfc7578](https://datatracker.ietf.org/doc/html/rfc7578#section-4.2) - where it says:

> NOTE: The encoding method described in [RFC5987], which would add a "filename*" parameter to the Content-Disposition header field, MUST NOT be used.

But I don't understand; this and the last paragraph of the section would imply that bytes outside the ascii range are allowed in http headers? I had the same understanding as you wrote until now, that this is not allowed/recommended. And why should this scheme (rfc5987) be used but just not for the `filename` attribute?! 😕 

I have this problem too! cyrillic letters in filename work in versins before 0.22.0. After update we have this problem 😕

Indeed, changing the example in the description to work with http4s 0.21.25, the cyrillic filename works as expected using curl.

``` scala
#!/usr/bin/env amm

import $ivy.`org.http4s::http4s-dsl:0.21.25`
import $ivy.`org.http4s::http4s-blaze-server:0.21.25`
import $ivy.`ch.qos.logback:logback-classic:1.2.3`

import scala.concurrent.ExecutionContext
import cats.effect._
import fs2.Stream
import org.http4s._
import org.http4s.dsl.Http4sDsl
import org.http4s.multipart.Multipart
import org.http4s.server.Router
import org.http4s.server.blaze.BlazeServerBuilder
import org.http4s.implicits._

object TestApp extends IOApp {
  def multipartUpload(): HttpRoutes[IO] = {
    val dsl = new Http4sDsl[IO] {}
    import dsl._

    HttpRoutes.of {
      case req @ POST -> Root =>
        for {
          mp <- req.as[Multipart[IO]]
          fnames = mp.parts.map(p => p.filename).mkString("; ")
          resp <- Ok(s"Uploaded ${mp.parts.size} files: $fnames")
        } yield resp
    }
  }

  def app =
    Router("upload" -> multipartUpload()).orNotFound

  def server =
    BlazeServerBuilder[IO]
      .bindHttp(8888, "0.0.0.0")
      .withHttpApp(app)
      .serve

  def run(args: List[String]) =
    server.compile.drain.map(_ => ExitCode.Success)
}

@main
def main(): Unit =
  TestApp.main(Array.empty)
```

Test:
```
❯ curl -F file=@Константинополя.pdf http://localhost:8888/upload
Uploaded 1 files: Some(Константинополя.pdf)⏎ 
```

Is this a regression, or was this change intended?

@rossabaker Do you know the answer to the question about whether this is a regression or was it planned behavior?

Hi @rossabaker sorry for nagging :/ I'm currently wondering how to proceed here. Do you think this is something to be addressed in http4s at some point? If not, I'd like to ask for help to find some workaround. For my (free) application I can't rule out curl or other popular clients easily (no matter the rfcs :)). Where would be a good spot to look to change this behavior?

@eikek https://github.com/http4s/http4s/pull/5105 it looks like this fix fixes this problem

@RustamSultanov thanks a lot for the update! But I can still reproduce the behavior in the description with 0.23.2 (using curl and Elm file upload, which uses the FormData api). I think the issue you referenced was for parsing the charset name. Here it is not using the `filename*` attribute with a `utf8''myname` encoding but rather "utf8 bytes" without any transfer encoding into ascii and without saying that it is utf8.  

Hi, I had a look at this again and I would like to bring this up for discussion. I searched other libraries, in particular pythons urllib3 which is also popular and widely used. I found these issues regarding this topic: https://github.com/urllib3/urllib3/issues/303 , https://github.com/urllib3/urllib3/issues/900 (related issues and PRs can be found in these)

IIUC, urllib3 moved to use plain utf-8 encoding for filenames, while still supporting the RFC2231 way.

Currently, filenames (outside us-ascii) are not available when using curl, elm (which is using the js api underneath) or a browser form as a client.

I think what confused me at first was that this is not about HTTP headers. It is about headers in a part of a multipart request _body_. The [RFC7578](https://datatracker.ietf.org/doc/html/rfc7578#section-4.2) is about the `form-data` part. I think the interesting excerpt is this:

> In most multipart types, the MIME header fields in each part are
   restricted to US-ASCII; for compatibility with those systems, file
   names normally visible to users MAY be encoded using the percent-
   encoding method in Section 2, following how a "file:" URI
   [URI-SCHEME] might be encoded.
>
>   NOTE: The encoding method described in [RFC5987], which would add a
   "filename*" parameter to the Content-Disposition header field, MUST
   NOT be used.
>
>   Some commonly deployed systems use multipart/form-data with file
   names directly encoded including octets outside the US-ASCII range.
   The encoding used for the file names is typically UTF-8, although
   HTML forms will use the charset associated with the form.

The last two paragraphs suggest to allow plain utf8 encoding. Though I'm sometimes a bit confused with the rfcs, as there are several touching this where one updates the other 🤯 

I would like to know other opinions on this and how you think http4s should go about it. Given the reads I had, I would think http4s could also default to use utf8 encoding for filenames in a Content-Disposition header when decoding request bodies. If not, maybe an option could be added?

I had a quick look at the code and to me it seems that this parser is only used to read Multipart bodies? If this is wrong, maybe we can use different parser for the `Content-Disposition` header depending on whether it is read from the HTTP  request/response headers or the Multipart headers (which are from the http request body). I haven't seen this header being used in http requests, only responses, but that's just me. What do you think?

I'm quite interested in this, and I would try to find time digging more into it and providing a fix. But given that it's not clear whether it should be addressed here at all or if yes how, I'd like opinions from someone having better knowledge of this project. Thank you!

If I understand things accurately, we recently fixed a similar issue about [parsing the `Content-Disposition` filename](https://github.com/http4s/http4s/pull/6473). So in [0.22.14](https://github.com/http4s/http4s/releases/tag/v0.22.14) and [0.23.13](https://github.com/http4s/http4s/releases/tag/v0.23.13), this should be fixed. I'm closing this for now, but feel free to reopen it if an issue remains after upgrading!