`MaxActiveRequests` middleware used with Ember causes requests to hang

Hi there 👋

I came across a bug while trying to use the `MaxActiveRequests` middleware. When the middleware is used with Ember, and the number of active requests exceeds the limit, it causes a number of requests to hang indefinitely (or until they time out).

I've tested the following versions:

* Ember, 0.23.2: **hangs for almost all requests**
* Ember, 0.23.16: **hangs for a small percentage of requests (~2k out of 20k)**
* Ember, 1.0.0-M37: **hangs for a small percentage of requests (~2k out of 20k)**
* Blaze, 0.23.13: **works**
* Blaze, 1.0.0-M37: **works**

Simple reproducer:

```scala
import cats.effect._
import com.comcast.ip4s._
import org.http4s._
import org.http4s.dsl._
import org.http4s.ember.server._
import org.http4s.server.middleware._

object Main extends ResourceApp.Forever with Http4sDsl[IO] {

  val routes: HttpRoutes[IO] =
    HttpRoutes.of[IO] { case GET -> Root / "hello" =>
      Ok("world")
    }

  override def run(args: List[String]): ResourceIO[Unit] =
    Resource
      .eval(MaxActiveRequests.forHttpApp[IO](5L))
      .flatMap { middleware =>
        EmberServerBuilder
          .default[IO]
          .withHttpApp(middleware(routes.orNotFound))
          .withHost(host"0.0.0.0")
          .withPort(port"8080")
          .build
      }
      .map(_ => ())
}
```

and to test:

```shell
ab -k -n 2000 -c 20 "http://localhost:8080/hello"
``` 

Thanks, I was able to reproduce.

```
//> using lib "org.http4s::http4s-ember-server::0.23.16"
//> using lib "org.http4s::http4s-dsl::0.23.16"
```

```
$ ab -k -n 2000 -c 20 "http://localhost:8080/hello"
This is ApacheBench, Version 2.3 <$Revision: 1901567 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking localhost (be patient)
Completed 200 requests
Completed 400 requests
Completed 600 requests
Completed 800 requests
Completed 1000 requests
Completed 1200 requests
Completed 1400 requests
Completed 1600 requests
Completed 1800 requests
apr_pollset_poll: The timeout specified has expired (70007)
Total of 1985 requests completed
```

I'm not sure if it's related, but I wonder if there is a bug here. Should the request body be drained and discarded?

https://github.com/http4s/http4s/blob/381f497360041abccd7ca6a5de046ecb92d64fe8/server/shared/src/main/scala/org/http4s/server/middleware/MaxActiveRequests.scala#L118-L119

I'm not too familiar with the inners of `http4s` but I think that might be the issue. What also caught my attention is that the middleware uses the `BracketRequestResponse` under the hood, which comes with this warning in 0.23.x: 

https://github.com/http4s/http4s/blob/series/0.23/server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala#L28-L51

Ah indeed 😕 good catch. I'm still not entirely sure how it all fits together, but there do seem to be various not-so-good things going on.

https://github.com/http4s/http4s/blob/381f497360041abccd7ca6a5de046ecb92d64fe8/server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala#L39-L45

I think this will require some experimental-debugging to dig deeper into what's going on.

> I'm not sure if it's related, but I wonder if there is a bug here. Should the request body be drained and discarded?

I tried this in 3a4962e9063a245bc932e9b30973a30258ec3c56 but it didn't fix this issue.

Ok, so now I "minimized" to this.

```scala
      .eval(MaxActiveRequests.forHttpApp[IO](0L)) // this should always return 503
```

```
$ ab -k -n 2 -c 1 "http://localhost:8080/hello"
This is ApacheBench, Version 2.3 <$Revision: 1901567 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking localhost (be patient)...apr_pollset_poll: The timeout specified has expired (70007)
Total of 1 requests completed
```

```
$ curl -v http://localhost:8080/hello
*   Trying ::1:8080...
* TCP_NODELAY set
* Connected to localhost (::1) port 8080 (#0)
> GET /hello HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.68.0
> Accept: */*
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 503 Service Unavailable
< Date: Thu, 05 Jan 2023 00:20:07 GMT
< Connection: keep-alive
< Transfer-Encoding: chunked
< 
* Connection #0 to host localhost left intact
```

_I think_ I think I managed to get it to work. Not sure exactly why but I rewrote the middleware in a very simple / very unsafe way just to be able to identify what might be going wrong (excuse the Scala 3 syntax)

Hangs:

```scala
def httpRoutes[F[_]](maxActive: Long)(using F: Async[F]): F[HttpRoutes[F] => HttpRoutes[F]] =
  Ref
    .of[F, Int](0)
    .map(_.mapK(OptionT.liftK))
    .map { ref => routes =>
      Kleisli { req =>
        for
          nActive <- ref.updateAndGet(_ + 1)
          out <-
            if nActive > maxActive
            then Response[F](Status.ServiceUnavailable).pure[OptionT[F, *]] // See here
            else routes(req)
          _ <- ref.update(_ - 1)
        yield out
      }
    }
```

Works:

```scala
def httpRoutes[F[_]](maxActive: Long)(using F: Async[F]): F[HttpRoutes[F] => HttpRoutes[F]] =
  Ref
    .of[F, Int](0)
    .map(_.mapK(OptionT.liftK))
    .map { ref => routes =>
      Kleisli { req =>
        for
          nActive <- ref.updateAndGet(_ + 1)
          out <-
            if nActive > maxActive
            then OptionT.liftF(Response[F](Status.ServiceUnavailable).toStrict(None))  // See here
            else routes(req)
          _ <- ref.update(_ - 1)
        yield out
      }
    }
```

Okay this is interesting. I don't think this bug is limited to this middleware but might be affecting a lot more and seems to be related to the `-k` flag (keep-alive). I created a very simple middleware below which just changes the response to always return 404

```scala
//> using lib "org.http4s::http4s-ember-server::0.23.16"
//> using lib "org.http4s::http4s-dsl::0.23.16"

import cats.effect._
import com.comcast.ip4s._
import org.http4s._
import org.http4s.dsl._
import org.http4s.ember.server._
import org.http4s.server.middleware._

object Main extends ResourceApp.Forever with Http4sDsl[IO] {

  val routes: HttpRoutes[IO] =
    HttpRoutes.of[IO] { case GET -> Root / "hello" =>
      Ok("world")
    }

  val always404: HttpApp[IO] => HttpApp[IO] = { _ =>
    Kleisli { _ =>
      Response[IO](Status.NotFound).pure[IO]
    }
  }

  override def run(args: List[String]): ResourceIO[Unit] =
    EmberServerBuilder
      .default[IO]
      .withHttpApp(always404(routes.orNotFound))
      .withHost(host"0.0.0.0")
      .withPort(port"8080")
      .build
      .map(_ => ())
}
```
With `-k`:

```shell
ab -k -n 2 -c 1 "http://localhost:8080/hello"
This is ApacheBench, Version 2.3 <$Revision: 1901567 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking localhost (be patient)...
```

Without `-k`:

```shell
ab -n 2 -c 1 "http://localhost:8080/hello"
This is ApacheBench, Version 2.3 <$Revision: 1901567 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking localhost (be patient).....done


Server Software:
Server Hostname:        localhost
Server Port:            8080

Document Path:          /hello
Document Length:        5 bytes

Concurrency Level:      1
Time taken for tests:   0.017 seconds
Complete requests:      2
Failed requests:        0
Non-2xx responses:      2
Total transferred:      230 bytes
HTML transferred:       10 bytes
Requests per second:    119.42 [#/sec] (mean)
Time per request:       8.373 [ms] (mean)
Time per request:       8.373 [ms] (mean, across all concurrent requests)
Transfer rate:          13.41 [Kbytes/sec] received

Connection Times (ms)
              min  mean[+/-sd] median   max
Connect:        0    0   0.2      0       0
Processing:     6    8   2.6     10      10
Waiting:        4    6   2.0      7       7
Total:          6    8   2.8     10      10

Percentage of the requests served within a certain time (ms)
  50%     10
  66%     10
  75%     10
  80%     10
  90%     10
  95%     10
  98%     10
  99%     10
 100%     10 (longest request)
```

@armanbilge @kyri-petrou I can reproduce with `ab` using the `-k` flag, but when I remove it I'm no longer able to reproduce it. I think this might be related to keep alive semantics. Interesting, I can _not_ reproduce it using [vegeta](https://github.com/tsenart/vegeta) to stress the server. Vegeta uses a keep-alive value of default true. :thinking: 

If I set the socket timeout in ember to a low value, the app resumes after the connection is closed. I'm not entirely sure what that means yet...

Another couple notes, according to the packets I'm seeing on the wire, `ab` is sending HTTP 1.**0** request.

```
    GET / HTTP/1.0\r\n
    Connection: Keep-Alive\r\n
    Host: localhost:8080\r\n
    User-Agent: ApacheBench/2.3\r\n
    Accept: */*\r\n
    \r\n
```

I'm not versed on if there is a protocol difference here that might be breaking things. 

Also, the man page for `ab` notes.

```
BUGS
       There are various statically declared buffers of fixed length. Combined with the lazy parsing of the command line arguments, the response headers from the  server
       and other external inputs, this might bite you.

       It  does not implement HTTP/1.x fully; only accepts some 'expected' forms of responses. The rather heavy use of strstr(3) shows up top in profile, which might in‐
       dicate a performance problem; i.e., you would measure the ab performance rather than the server's.
``

@kyri-petrou just to narrow down the scope here, have you experienced this with clients other than `ab`?

Thank you very much for looking into this @isomarcte! Very interesting findings.

> Have you experienced it with other clients than `ab`

No, admittedly I haven't tried it with other clients. The one thing that struck me as very weird was that this would only happen with Ember and only in cases where a middleware is involved which might "circuit-break" the request and respond early

@kyri-petrou @armanbilge I believe I've found the cause of the issue. This actually is not related to any of the middlewares or even http4s, it's an issue with `ab`.

Here is the minimal reproduction I was able to create.

```scala
object Main extends ResourceApp.Forever {
  def routes[F[_]: Sync]: HttpRoutes[F] =
    HttpRoutes.of{
      case _ => Sync[F].delay(Response(status = Status.InternalServerError, body = ((Stream.empty: Stream[F, Byte]) >> Stream.empty )))
    }

  override def run(args: List[String]): Resource[IO, Unit] =
    EmberServerBuilder.default[IO].withHttpApp(
      routes[IO].orNotFound
    ).build.void
}
```

Ember has an optimization where if the body of the `Response` is referentially equal to the [EmptyBody](https://github.com/http4s/http4s/blob/v0.23.17/core/shared/src/main/scala/org/http4s/package.scala#L30) it emits a content-length of 0, but otherwise, if not explicitly set already in the headers, it emits a chunked body, because it can't know the length of a `Stream` which hasn't been evaluated yet. (this is in [Encoder](https://github.com/http4s/http4s/blob/v0.23.17/ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala#L67 "Encoder.scala")).

`ab` is using HTTP 1.0, but `Transfer-Encoding: chunked` was introduced in HTTP 1.1, so it doesn't know what to do in this case. I'm not 100% sure what `ab` is doing here, but my guess is that since there is no `Content-Length` header and it doesn't understand `Transfer-Encoding: chunked` is that it holds the connection open waiting for the rest of the body to come through or for the server to close the socket. In this case, because keep alive is specified, the socket is not closed and body is not written.

Anyway, a simple way to verify that http4s is not getting stuck, but actually only `ab` is getting stuck, is to just call the server again from another process. I tested with `curl` and `vegeta` (mentioned above) and the while `ab` is stuck, the server responds fine to other requests.

Here is `ab`,

```shell
> ab -k -n 2000 -c 1 'http://localhost:8080/'
This is ApacheBench, Version 2.3 <$Revision: 1901567 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking localhost (be patient)
apr_pollset_poll: The timeout specified has expired (70007)
Total of 1 requests completed
```

and here is `vegeta` running at the same time.

```shell
> echo "GET http://localhost:8080" | vegeta attack -http2=false -timeout 2s -duration=10s | vegeta report
Requests      [total, rate, throughput]         500, 50.10, 0.00
Duration      [total, attack, wait]             10.025s, 9.98s, 44.902ms
Latencies     [min, mean, 50, 90, 95, 99, max]  755.069µs, 30.458ms, 44.198ms, 44.737ms, 46.934ms, 48.106ms, 48.213ms
Bytes In      [total, mean]                     0, 0.00
Bytes Out     [total, mean]                     0, 0.00
Success       [ratio]                           0.00%
Status Codes  [code:count]                      500:500
Error Set:
500 Internal Server Error
```

You can see there are no timeouts in `vegeta`.

If this all makes sense, I think we should close this as not a bug.


Wow, thanks!

> Ember has an optimization where if the body of the `Response` is referentially equal to the [EmptyBody](https://github.com/http4s/http4s/blob/v0.23.17/core/shared/src/main/scala/org/http4s/package.scala#L30) it emits a content-length of 0, but otherwise, if not explicitly set already in the headers, it emits a chunked body

Ah, it makes sense. Actually this is not exactly an optimization—it's a bug fix / workaround for other cases exactly like this where a chunked response with no content length was breaking or otherwise surprising other servers/clients e.g. see https://github.com/http4s/http4s/issues/4935#issuecomment-1279647970.

The middleware comes into this because it was transforming the body stream with an `.onFinalize(...)`, which is breaking the referential equality hack.

However, this should be more avoidable in 1.x, where we have a new entity model that explicitly represents empty bodies (instead of relying on the referential equality hack). Since @kyri-petrou was having problems with 1.x as well that suggests we can make some improvements.

I also have an orphan commit https://github.com/http4s/http4s/commit/3a4962e9063a245bc932e9b30973a30258ec3c56 that I think is also a bug fix.

> `ab` is using HTTP 1.0, but `Transfer-Encoding: chunked` was introduced in HTTP 1.1, so it doesn't know what to do in this case.

Also, is this a very blatant bug? Ember should never respond to an HTTP 1.0 request with a `Transfer-Encoding: chunked`. Not sure what the right thing to do is, but it should either load the response into memory, or throw an error.

@armanbilge do we claim to have any http 1.0 support? I thought we just didn't support it.

@isomarcte awesome investigation! 

Out of curiosity, what was the server setup that was being tested? I'm curious because vegeta seems to report all responses as 5xx errors under this test case (unless I'm misreading the report, I never used vegeta before). Also, the response times seem rather high so I'm wondering whether this is because of the test case or might due to some other factor

Ah, I just realised you posted the code above, so the 5xx codes are expected 🤦🏻‍♂️

Nonetheless the 30ms mean response seems a bit off. Is it the same without ab running at the same time?

@kyri-petrou take those timings with a grain of salt. I was running that on my dual core laptop from 2015 while concurrently building the linux kernel. So....the system was rather constrained. 

> do we claim to have any http 1.0 support? I thought we just didn't support it.

@isomarcte I checked with Chris and apparently we don't "officially" support it.

To address this issue Chris just says we should throw an error if someone attempts to send a chunked transfer over HTTP/1.0.

https://discord.com/channels/632277896739946517/839254871646404638/1065463652053962812

So yeah, will accept a PR, but HTTP/1.0 support in 2023 is not really high priority :)

Thank you very much @isomarcte @armanbilge for looking into this and getting to the bottom of it. And apologies for sending you down this rabbit hole when the issue at the end was with the protocol (that no one uses 😅).

Happy to close the issue now if you prefer, or I can leave it open until a PR is made - up to you :)

I updated the issue title and description. We can leave it open since it's still a legitimate bug.

Regardless of how archaic HTTP/1.0 is, HTTP/1.1 is alive and well and imposes some constraints.  We already have to much of the branching logic and have all the pieces built, so I don't see any reason not to see it through to a successful response:

1. We respond HTTP/1.1, even to an HTTP/1.0 request.  [RFC9110, Section 6.2](https://www.rfc-editor.org/rfc/rfc9110#section-6.2-7): [^1] [^2]

   > A server SHOULD send a response version equal to the highest version to which the server is conformant that has a major version less than or equal to the one received in the request.

2. But a modern HTTP/1.1 server must constrain its behavior according to the request version like it's still Nineteen Dickety-Two.  [RFC9112, Section 2.3](https://www.rfc-editor.org/rfc/rfc9112#section-2.3-4):

   > When an HTTP/1.1 message is sent to an HTTP/1.0 recipient [[HTTP/1.0](https://www.rfc-editor.org/rfc/rfc9112#HTTP10)] or a recipient whose version is unknown, the HTTP/1.1 message is constructed such that it can be interpreted as a valid HTTP/1.0 message if all of the newer features are ignored. This specification places recipient-version requirements on some new features so that a conformant sender will only use compatible features until it has determined, through configuration or the receipt of a message, that the recipient supports HTTP/1.1.

3. We could nope out here with a 5xx, but which one? [505](https://www.rfc-editor.org/rfc/rfc9110#name-505-http-version-not-suppor) is tempting, but that's to reject the _major_ version.  [501](https://www.rfc-editor.org/rfc/rfc9110#name-501-not-implemented) is arguably okay, but traditionally about bad _methods_.  [500](https://www.rfc-editor.org/rfc/rfc9110#name-500-internal-server-error) is really the only one that fits, but those tend to get the sender paged.  I don't want that on my soul.

4. As noted above, one of those constraints is to strip any Transfer-Encoding. [RFC9112, Section 6.1](https://www.rfc-editor.org/rfc/rfc9112#section-6.1-13):

   > A server MUST NOT send a response containing Transfer-Encoding unless the corresponding request indicates HTTP/1.1 (or later minor revisions).

5. But there's an easy alternative to erroring out or buffering the response to calculate a content length: just stream the bytes without encoding (as we do with a `Content-Length`) and close the connection (as we do in umpteen other scenarios).  [RFC9112, Section 6.3](https://www.rfc-editor.org/rfc/rfc9112#section-6.3-2.8):

   > Otherwise, this is a response message without a declared message body length, so the message body length is determined by the number of octets received prior to the server closing the connection
  
[^1]: There's an [exception](https://www.rfc-editor.org/rfc/rfc9112#section-2.3-6), which is a reason a server backend might choose to honor an `HttpApp` that sends it an `HTTP/1.0` response.

[^2]: I have a vague recollection Blaze gets this wrong.  I think it tries to respond in kind...

@rossabaker thanks for all that context. I didn't realize that HTTP/1.1 had provisions for talking to an HTTP/1.0 client, although that does makes sense.