Improve spec-compliance of `MediaType`/`MediaRange`

The current implementation seems to be incorrect with respect to case-sensitivity: According to [RFC 7231, section 3.1.1.1](https://httpwg.org/specs/rfc7231.html#media.type) the main type, subtype, and parameter names are case-insensitive, but as currently implemented they're case-sensitive. Parameter values may or may not be case-sensitive (charset values are not, for example), but currently they are always compared case-sensitively.

This is partially ameliorated by the fact that the parsers convert main and subtypes to lower case, but that has two shortcomings: (1) the constructor for `MediaType` is public, so it doesn't actually enforce normalization, and (2) enforced normalization would limit user control over rendering (which becomes a problem e.g. if using [pact testing](https://github.com/pact-foundation/pact-specification/tree/version-2), which enforces a strict case-sensitive match on all headers).

On the topic of enforced normalization there are a couple of other issues: firstly, storing parameters as a `Map` means ordering isn't preserved - but the spec doesn't state that differently ordered parameter lists are equivalent (or indeed that keys can't be repeated). Secondly, the spec states that `A parameter value that matches the token production can be transmitted either as a token or within a quoted-string. The quoted and unquoted values are equivalent.` but `the first is preferred for consistency` - but http4s always renders the value as a quoted-string.

> The case-sensitivity of the parameters is the toughest case, if some, but not all, parameters are case sensitive. That's a significant modeling challenge.

If case-insensitive is getting a breaking change (https://github.com/typelevel/case-insensitive/issues/247) anyway, I wonder if there's something we could/should do there with creating a hierachy of "string that may or may not be case sensitive" at the top with "case-sensitive string" and "case-insensitive string" subtypes 🤔 (also discussing this on Discord - cc @armanbilge )