Implement set-cookie parser according to laxer section of spec

This work is begun in #5196, but I'm pretty sure there's more to do around semi-colons and equals signs.  We should be implementing the full algorithm in [RFC6265, Section 5.2](https://datatracker.ietf.org/doc/html/rfc6265#section-5.2).

The work should target series/0.22.